<div class='stretch-text'>
  <h2>タイトル：<%= @note.title %></h2>
  <h2>カテゴリ：<%= @note.category.name %></h2>
  <div id="star-rate-<%= @note.id %>"></div>
    <script>
      // 繰り返し処理でもidをidを一意にできるようにstretch_idを入れる
    $('#star-rate-<%= @note.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      // 読み込みだけで入力できない
      readOnly: true,
      score: <%= @note.rate %>,
    });
    </script>
  <h2>説明：<%= markdown(@note.explanation) %></h2>
  <%= link_to "編集する", edit_note_path(@note),data: {"turbolinks" => false} %>
  <%= link_to "削除", note_path(@note), method: :delete %>
</div>